certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
distlib==0.4.0
filelock==3.25.2
idna==3.15
iniconfig==2.3.0
narwhals==2.21.0
numpy==2.4.5
packaging==26.0
pandas==3.0.3
platformdirs==4.9.4
plotly==6.7.0
pluggy==1.6.0
pygame-ce==2.5.7
Pygments==2.20.0
pytest==9.0.2
python-dateutil==2.9.0.post0
python-discovery==1.2.1
requests==2.34.2
six==1.17.0
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.2.0
